
body {
    background: url("https://ak.picdn.net/shutterstock/videos/1010552948/thumb/1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin: $margin;
    max-width: 90%;
    height: auto;
    font-family: $fontFamily;
    
}
#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#darest{
    grid-column: 2;
}
  h1{
    text-align: center;
    text-shadow: $tShadow;
    box-shadow: $bShadow;
    color:$textcolor;
    border-radius: $border;
    margin: 1em auto;
    display: block;
    width: $sectionWidth;
    background-color: $thisColor;
    padding:$padding;
    font-size: $heavyF;
    transition: $transTime;
  }
  #christmas{
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
 #christmas img{
    grid-column: 1 / -1;
    grid-row: 1;
    width: 500px;
    height: 850px;
    object-fit: cover;
    box-shadow: $bShadow;
    display: block;
    border-radius: 0;
 }
  #christmas h2{
    text-shadow: 2px 2px 3px #FF0000,-2px -2px 5px #00ad1d;
    color:$textcolor;
    border-radius: $border;
    font-size: 3em;
    margin: 3em;
    
  }
  .christ{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    
  }
a{
    text-decoration: none;
    font-size: 1em;
}
a:hover {
    color: hotpink;}
#projects
  {
    text-shadow: $tShadow;
    box-shadow: $bShadow;
    color:$textcolor;
    border-radius: $border;
    padding:$padding;
    width: $sectionWidth;
    height: fit-content;
    margin: 1em auto;
    
    background-color: $thisColor;
    transition: $transTime;
    }
    ul, li,a{ 
        font-weight: $lightF;
        color:$textcolor;
        list-style: none;
        padding: 0;
        margin: 0;
        }
img {
    width: 300px;
    height: auto;
    box-shadow: $bShadow;
    margin: 1em auto;
    display: block;
    border-radius: 50%;
    transition: $transTime;
    
}
footer{
    position: absolute;
  bottom: 0;
  width: 90%;
  height: 2.5rem; 
    text-align: center;
    text-shadow: $tShadow;
    box-shadow: $bShadow;
    color:$textcolor;
    border-radius: $border;
    margin: 1em auto;
    display: block;
    background-color: $thisColor;
    padding:$padding;
    transition: $transTime;
}
img:hover{
    border-radius: 10%;
    width: 320px;

}
h1:hover{
    padding: $transPadding;
    font-size: 2.1rem;
}
#christmas img:hover{
    width: 400px;
}
#projects:hover{
    padding: $transPadding;
    font-size: $transSize;
}
footer:hover{
    font-size: $transSize;
    padding: $transPadding;
}