@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');
$thisColor: rgb(0, 0, 0);
$center: center;
$margin: 0 auto;
$padding: 2rem;
$border: 8%;
$textcolor:aliceblue;
$fontFamily:'Lato', sans-serif;
$lightF:300;
$heavyF:900;
$bShadow:7px 5px 14px rgb(0, 0, 0);
$tShadow:0 0 3px #FF0000, 0 0 5px #0000FF;